@set-margin: 0.5em;

body {
  margin: 0px;
  font-size: 25px;
}

h1{
  margin-top: 5px;
  text-align: center;
}

button {
  width: 20em;
  height: 3em;
  font-size: 0.6em;
}

select {
  font-size: 25px;
}

input {
  display: block;
}

textarea{
  margin-top: 0.5em;
  display: block;
  width: 100%;
  height: 10em;
  font-size: 1em;
}

input[type=radio] {
  display: inline;
  margin-right: 5px;
  width: 2em;
  height: 2em;
}

input[type=checkbox]{
  display: inline;
  margin-right: 5px;
  width: 2em;
  height: 2em;
}

div{
  margin: 0px;
  padding: 0px;
}

.container {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 2fr;
  margin: 0px;
}

.sections{
  padding: 10px;
}

.personal-info {
  color:  #003A5A;
  background-color: #ffc5a5;
}

.responses{
  color:  #000D5A;
  background-color: #fff2a5;
}

.responses-two{
  color:  #195A00;
  background-color:  #e6a5ff;
}

.comments {
  color:  #5A2500;
  background-color: #a5daff;
}

.input-text {
  width: 80%;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
  height: 30px;
  font-size: 25px;
}

@media (min-width: 900px) and (max-width: 1200px) {
  .container{
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 899px)
{
  .container{
    display: inline;
  }
}
